{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/change_password" method="post" class="mx-auto my-5 p-4" style="max-width: 400px;">
        <div class="mb-3">
            <input class="form-control" id="current_password" name="current_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Change Password</button>
    </form>
{% endblock %}